<article class="row user-profile">
  <aside class="col-sm-1">
    <%= back_button %>
  </aside>
  <header class="col-sm-1 user-avatar">
    <img src="<%= @user.avatar %>" alt="<%= @user.full_name %>" class="img-responsive img-circle" style="max-height: 100px; width: 100px;">
  </header>
  <section class="col-sm-4 user-info">
    <header>
      <h1><%= @user.full_name %></h1>
      <hr>
    </header>
    <ul class="list-unstyled">
      <li>
        Date of Birth:
        <span class="user-detail">
          <%= "#{@user.date_of_birth.strftime("%B #{@user.date_of_birth.day.ordinalize}, %Y")} (#{age(@user.date_of_birth)})" %>
        </span>
      </li>
      <li>
        Gender:
        <span class="user-detail">
          <%= @user.gender == "M" ? "Male" : "Female" %>
        </span>
      </li>
      <li>
        Email:
        <span class="user-detail">
          <%= @user.email %>
        </span>
      </li>
      <li>
        Phone number:
        <span class="user-detail">
          <%= @user.phone_number %>
        </span>
      </li>
      <li>
        More info:
        <ul>
          <li>
            Suffers from heart disease:
            <span class="user-detail">
              <%= @user.heart_disease ? "Yes" : "No" %>
            </span>
          </li>
          <li>
            Suffers from diabetes:
            <span class="user-detail">
              <%= @user.diabetes ? "Yes" : "No" %>
            </span>
          </li>
        </ul>
      </li>
    </ul>
    <%= link_to "AFP", new_chart_path(:chart => {:type => "afp".classify, :user_id => @user.id}), class: "btn btn-slim btn-light btn-block" %>
    <a href="/clean" class="btn btn-slim btn-light btn-block">New Chart</a>
  </section>
  <section class="col-sm-4 user-charts">
    <header>
      <h1>Charts</h1>
      <hr>
    </header>
    <% if @user.charts.blank? %>
      <h1><%= @user.first_name %> has no charts yet.</h1>
    <% else %>
      <ul class="list-unstyled">
      <% @user.charts.order(:created_at => :desc).each do |chart| %>
          <li>
            <%= link_to "#{chart.type} Chart, created on #{chart.created_at.strftime("%m/%d/%Y")}", chart_path(chart) %>
          </li>
      <% end %>
      </ul>
    <% end %>
  </section>
</article>
