<article class="row user-profile">
  <aside class="col-sm-1">
    <%= back_button %>
  </aside>
  <header class="col-sm-1 user-avatar">
    <img src="<%= @user.avatar %>" alt="<%= @user.full_name %>" class="img-responsive img-circle" style="max-height: 100px; width: 100px;">
  </header>
  <section class="col-sm-4 user-info">
    <header>
      <h1><%= @user.full_name %></h1>
      <hr>
    </header>
    <ul class="list-unstyled">
      <li>
        Date of Birth:
        <span class="user-detail">
          <%= "#{@user.date_of_birth.strftime("%B #{@user.date_of_birth.day.ordinalize}, %Y")} (#{age(@user.date_of_birth)})" %>
        </span>
      </li>
      <li>
        Gender:
        <span class="user-detail">
          <%= @user.gender == "M" ? "Male" : "Female" %>
        </span>
      </li>
      <li>
        Email:
        <span class="user-detail">
          <%= @user.email %>
        </span>
      </li>
      <li>
        Phone number:
        <span class="user-detail">
          <%= @user.phone_number %>
        </span>
      </li>
      <li>
        More info:
        <ul>
          <li>
            Suffers from heart disease:
            <span class="user-detail">
              <%= @user.heart_disease ? "Yes" : "No" %>
            </span>
          </li>
          <li>
            Suffers from diabetes:
            <span class="user-detail">
              <%= @user.diabetes ? "Yes" : "No" %>
            </span>
          </li>
        </ul>
      </li>
    </ul>
    <div class="chart-with-patient-container">
      <button id="chart-with-patient" class="btn btn-slim btn-light btn-block">New Chart</button>
      <div class="hide chart-with-patient">
        <span class="triangle"></span>
        <span class="fa fa-times text-danger"></span>
        <%= render "shared/widgets/available_charts" %>
      </div>
    </div>
    <!-- <%= link_to "AFP", new_chart_path(:chart => {:type => "afp".classify, :user_id => @user.id}), class: "btn btn-slim btn-light btn-block" %> -->
    <!-- -->
  </section>
  <section class="col-sm-4 user-charts">
    <header>
      <h1>Charts</h1>
      <hr>
    </header>
    <% if @user.charts.blank? %>
      <h1><%= @user.first_name %> has no charts yet.</h1>
    <% else %>
      <ul class="list-unstyled">
      <% @user.charts.order(:created_at => :desc).each do |chart| %>
          <li class="user-chart">
            <%= link_to "#{chart.type} Chart, created on #{chart.created_at.strftime("%m/%d/%Y")}", chart_path(chart), class: "btn-link" %>
            <div class="dropdown">
              <button class="btn btn-link dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                <span class="fa fa-gear"></span>
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li>
                  <%= link_to "Edit", edit_chart_path({id: chart.id, :chart => {:user_id => chart.user.id, :type => chart.type}}) %>
                  <!-- <a href="/charts/<%= chart.id %>/edit">Edit</a> -->
                </li>
              </ul>
            </div>
          </li>
      <% end %>
      </ul>
    <% end %>
  </section>
</article>
