<header class="container-fluid main-header">
  <div class="row">
    <div class="col-sm-4 col-sm-offset-1">
      <% unless current_page?(root_url) || current_page?('/dashboard') %>
        <div class="quick-access-bar container <%= current_page?(root_url) || current_page?('/dashboard') ? 'hide' : '' %>">
          <div id="my-patients" class="quick-access-container">
            <span class="fa fa-times text-danger"></span>
            <%= render "shared/widgets/my_patients" %>
            <div class="quick-access-icon">
              <span class="fa fa-user"></span>
            </div>
          </div>
          <div id="make-new-charts" class="quick-access-container">
            <span class="fa fa-times text-danger"></span>
            <%= render "shared/widgets/available_charts" %>
            <div class="quick-access-icon">
              <span class="fa fa-bar-chart"></span>
            </div>
          </div>
          <div id="notifications" class="quick-access-container">
            <span class="fa fa-times text-danger"></span>
            <%= render "shared/widgets/notifications" %>
            <div class="quick-access-icon">
              <span class="fa fa-bell"></span>
              <span class="badge"><%= @notifications.count %></span>
            </div>
          </div>
          <div id="messages" class="quick-access-container">
            <span class="fa fa-times text-danger"></span>
            <%= render "shared/widgets/messages" %>
            <div class="quick-access-icon">
              <span class="fa fa-envelope"></span>
              <span class="badge"><%= @messages.count %></span>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col-sm-2">
      <%= link_to root_path do %>
        <%= image_tag "private_medical_logo.png", class: "private-medical-logo header" %>
      <% end %>
    </div>
    <div class="col-sm-4">
      <div class="dropdown user-dropdown user user-menu">
        <button class="btn btn-link dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="true">
          <%= salutation(current_user) %>
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <!-- User image -->
          <li class="user-header">
            <img src="<%= current_user.avatar %>" class="img-circle" alt="<%= current_user.full_name %>">
            <p>
              <%= "#{current_user.full_name} #{user_prominant_role(current_user)}" %>
              <!-- <small>Member since Nov. 2012</small> -->
            </p>
          </li>
          <!-- Menu Body -->
          <li class="user-body">
            <div class="row">
              <div class="col-xs-4 text-center">
                <a href="#">Bla</a>
              </div>
              <div class="col-xs-4 text-center">
                <a href="#">Bla</a>
              </div>
              <div class="col-xs-4 text-center">
                <a href="#">Bla</a>
              </div>
            </div>
            <!-- /.row -->
          </li>
          <!-- Menu Footer-->
          <li class="user-footer">
            <div class="pull-left">
              <a href="#" class="btn btn-slim btn-dark">Profile</a>
            </div>
            <div class="pull-right">
              <a href="#" class="btn btn-slim btn-dark">Log Out</a>
            </div>
          </li>
        </ul>
      </div>
      <div class="user-search">
        <form class="navbar-form" role="search" accept-charset="UTF-8" action="/users" method="get">
            <div class="form-group">
              <input type="hidden" name="user[id]" id="user_id_element">
              <input type="search" name="user[full_name]" id="user_full_name" class="search-query form-control ui-autocomplete-input" placeholder="Patient Search" data-autocomplete="/users/autocomplete_user_full_name" autocomplete="off" data-id-element="#user_id_element">
            </div>
            <!-- <button type="submit" class="btn btn-default "><span class="glyphicon glyphicon-search"></span></button> -->
        </form>
      </div>
    </div>
  </div>
</header>
