    <!-- uncomment code for absolute positioning tweek see top comment in css -->
    <!-- <div class="absolute-wrapper"> </div> -->
    <!-- Menu -->
    <div class="side-menu">

      <nav class="navbar" role="navigation">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
              <div class="brand-wrapper">
                  <!-- Hamburger -->
                  <button type="button" class="navbar-toggle">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                  </button>

                  <!-- Brand -->
                  <div class="brand-name-wrapper">
                      <a class="navbar-brand" href="#" style="text-align: right;width: 100%; line-height: 30px;">
                        <img alt="Dr. You" src="https://randomuser.me/api/portraits/thumb/lego/3.jpg" style="max-height: 30px;" class="img-responsive img-circle pull-left">
                        Dr. You
                      </a>
                  </div>

                  <!-- Search -->
      <!--             <a data-toggle="collapse" href="#search" class="btn btn-default" id="search-trigger">
                      <span class="glyphicon glyphicon-search"></span>
                  </a> -->

                  <!-- Search body -->
                  <div id="search" class="panel-collapse">
                      <div class="panel-body">
                          <form class="navbar-form" role="search" accept-charset="UTF-8" action="/users" method="get">
                              <div class="form-group">
                                <input type="hidden" name="user[id]" id="user_id_element">
                                <input type="search" name="user[name]" id="user_name" class="search-query form-control ui-autocomplete-input" placeholder="Patient Search..." data-autocomplete="/users/autocomplete_user_name" autocomplete="off" data-id-element="#user_id_element">
                              </div>
                              <button type="submit" class="btn btn-default "><span class="glyphicon glyphicon-search"></span></button>
                          </form>
                      </div>
                  </div>
              </div>

          </div>

          <!-- Main Menu -->
          <div class="side-menu-container">
              <ul class="nav navbar-nav">

                  <!-- Dropdown-->
                  <li class="panel panel-default" id="dropdown">
                      <a data-toggle="collapse" href="#dropdown-lvl1">
                          <span class="glyphicon glyphicon-user"></span> Patients <span class="caret"></span>
                      </a>
                      <!-- Dropdown level 1 -->
                      <div id="dropdown-lvl1" class="panel-collapse collapse">
                          <div class="panel-body">
                              <ul class="nav navbar-nav">
                                <!-- Dropdown level 2 -->
      <!--                           <li class="panel panel-default" id="dropdown">
                                    <a data-toggle="collapse" href="#dropdown-lvl2">
                                        <span class="glyphicon glyphicon-off"></span> Patients<span class="caret"></span>
                                    </a>
                                    <div id="dropdown-lvl2" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <ul class="nav navbar-nav">
                                                <li><a href="#">Patient X</a></li>
                                                <li><a href="#">Patient Y</a></li>
                                                <li><a href="#">Patient Z</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </li> -->
                                <li><a href="#"><span class="fa fa-circle-thin"></span> Patient Files</a></li>
                                <li><a href="#"><span class="fa fa-circle-thin"></span> Tests</a></li>
                              </ul>
                          </div>
                      </div>
                  </li>
                  <li class="<%= current_page?(root_path) ? 'active' : '' %>"><a href="/"><span class="fa fa-line-chart"></span> Make New Chart</a></li>
                  <li id="dropdown">
                    <a data-toggle="collapse" href="#dropdown-lvl2"><span class="fa fa-bell"></span> Notifications <span class="badge"><%= @notifications.nil? ? "0" : @notifications.size %></span> <span class='caret'></span></a>
                    <!-- Dropdown level 1 -->
                    <div id="dropdown-lvl2" class="panel-collapse collapse">
                        <div class="panel-body">
                            <ul class="nav navbar-nav">
                              <% if @notifications.nil? || @notifications.size == 0 %>
                                <li>There are no new notifications</li>
                              <% else %>
                                <li>
                                  <ul class="list-unstyled" style="max-height: 350px; overflow: auto;">
                                     <% @notifications.take(5).each do |notification| %>
                                          <a href="<%= notification.action_url %>" class="js-mark-as-read" data-id="<%= notification.id %>">
                                            <li style="font-weight: bold; font-size: 16px; padding-bottom: 10px"><%= notification.subject %></li>
                                            <li style="margin: 25px 0; padding-right: 15px;"><%= truncate(notification.content, length: 140, separator: ' ') %></li>
                                            <li style="font-weight: 400; font-size: 10px; text-align: right; margin: 15px 0; padding-right: 15px;"><%= time_ago_in_words(notification.created_at, include_seconds: true) %></li>
                                          </a>
                                     <% end %>
                                     <li style="font-weight: bold; font-size: 16px; padding-bottom: 10px; text-align: right;">
                                       <a href="#">View all <i class="glyphicon glyphicon-circle-arrow-right"></i></a>
                                     </li>
                                  </ul>
                                </li>
                              <% end %>
                            </ul>
                        </div>
                    </div>

                  </li>


                  <li><a href="#"><span class="fa fa-envelope"></span> Messages</a></li>

              </ul>
          </div><!-- /.navbar-collapse -->
      </nav>

    </div>