
  <div class="row">
    <h1>Choose a Chart</h1>
  </div>
  <div class="row  chart-selector">
    <div class="col-xs-4">
      <%= link_to new_chart_path(:type => "cholesterol"), class: "btn-chart-selector" do %>
        <div class="row">
          <div class="col-sm-8 col-sm-offset-2">
            <%= image_tag "cholesterol-chart.png", class: "chart-anchor img-responsive" %>
          </div>
        </div>
        <div class="row">
          <h2 class="text-center">Cholesterol</h2>
        </div>
      <% end %>
    </div>
    <div class="col-xs-4">
      <%= link_to new_chart_path(:type => "vitamin_d"), class: "btn-chart-selector" do %>
        <div class="row">
          <div class="col-sm-8 col-sm-offset-2">
            <%= image_tag "vitamin-d-chart.png", class: "chart-anchor img-responsive", style: "padding: 20px;" %>
          </div>
        </div>
        <div class="row">
          <h2 class="text-center">Vitamin D</h2>
        </div>
      <% end %>
    </div>
    <div class="col-xs-4">
      <%= link_to new_chart_path(:type => "tsh"), class: "btn-chart-selector" do %>
        <div class="row">
          <div class="col-sm-8 col-sm-offset-2">
            <%= image_tag "tsh-chart.png", class: "chart-anchor img-responsive", style: "padding: 20px;" %>
          </div>
        </div>
        <div class="row">
          <h2 class="text-center">TSH</h2>
        </div>
      <% end %>
    </div>
  </div>

