
  <div class="row">
    <h1>Choose a Chart</h1>
  </div>
  <div class="row  chart-selector">
    <div class="col-xs-4">
      <%= link_to new_chart_path(:type => "cholesterol"), class: "btn-chart-selector" do %>
        <div class="row">
          <div class="col-sm-8 col-sm-offset-2">
            <%= image_tag "cholesterol-chart.png", class: "chart-anchor img-responsive", style: "padding: 20px;" %>
          </div>
        </div>
        <div class="row">
          <h2 class="text-center">Cholesterol</h2>
        </div>
      <% end %>
    </div>
    <div class="col-xs-4">
      <%= link_to new_chart_path(:type => "vitamin_d"), class: "btn-chart-selector" do %>
        <div class="row">
          <div class="col-sm-8 col-sm-offset-2">
            <%= image_tag "vitamin-d-chart.png", class: "chart-anchor img-responsive", style: "padding: 20px;" %>
          </div>
        </div>
        <div class="row">
          <h2 class="text-center">Vitamin D</h2>
        </div>
      <% end %>
    </div>
    <div class="col-xs-4">
      <%= link_to new_chart_path(:type => "tsh"), class: "btn-chart-selector" do %>
        <div class="row">
          <div class="col-sm-8 col-sm-offset-2">
            <%= image_tag "tsh-chart.png", class: "chart-anchor img-responsive", style: "padding: 20px;" %>
          </div>
        </div>
        <div class="row">
          <h2 class="text-center">TSH</h2>
        </div>
      <% end %>
    </div>
    <div class="col-xs-4">
      <%= link_to new_chart_path(:type => "copper"), class: "btn-chart-selector" do %>
        <div class="row">
          <div class="col-sm-8 col-sm-offset-2">
            <%= image_tag "copper-chart.png", class: "chart-anchor img-responsive", style: "padding: 20px;" %>
          </div>
        </div>
        <div class="row">
          <h2 class="text-center">Copper</h2>
        </div>
      <% end %>
    </div>
    <div class="col-xs-4">
      <%= link_to new_chart_path(:type => "calcium"), class: "btn-chart-selector" do %>
        <div class="row">
          <div class="col-sm-8 col-sm-offset-2">
            <%= image_tag "calcium-chart.png", class: "chart-anchor img-responsive", style: "padding: 20px;" %>
          </div>
        </div>
        <div class="row">
          <h2 class="text-center">Calcium</h2>
        </div>
      <% end %>
    </div>
    <div class="col-xs-4">
      <%= link_to new_chart_path(:type => "alt"), class: "btn-chart-selector" do %>
        <div class="row">
          <div class="col-sm-8 col-sm-offset-2">
            <%= image_tag "alt-chart.png", class: "chart-anchor img-responsive", style: "padding: 20px;" %>
          </div>
        </div>
        <div class="row">
          <h2 class="text-center">A.L.T</h2>
        </div>
      <% end %>
    </div>
    <div class="col-xs-4">
      <%= link_to new_chart_path(:type => "afp"), class: "btn-chart-selector" do %>
        <div class="row">
          <div class="col-sm-8 col-sm-offset-2">
            <%= image_tag "afp-chart.png", class: "chart-anchor img-responsive", style: "padding: 20px;" %>
          </div>
        </div>
        <div class="row">
          <h2 class="text-center">AFP</h2>
        </div>
      <% end %>
    </div>
    <div class="col-xs-4">
      <%= link_to new_chart_path(:type => "iron"), class: "btn-chart-selector" do %>
        <div class="row">
          <div class="col-sm-8 col-sm-offset-2">
            <%= image_tag "iron-chart.png", class: "chart-anchor img-responsive", style: "padding: 20px;" %>
          </div>
        </div>
        <div class="row">
          <h2 class="text-center">Iron</h2>
        </div>
      <% end %>
    </div>
    <div class="col-xs-4">
      <%= link_to new_chart_path(:type => "mercury"), class: "btn-chart-selector" do %>
        <div class="row">
          <div class="col-sm-8 col-sm-offset-2">
            <%= image_tag "mercury-chart.png", class: "chart-anchor img-responsive", style: "padding: 20px;" %>
          </div>
        </div>
        <div class="row">
          <h2 class="text-center">Mercury</h2>
        </div>
      <% end %>
    </div>
    <div class="col-xs-4">
      <%= link_to new_chart_path(:type => "vitamin_b12"), class: "btn-chart-selector" do %>
        <div class="row">
          <div class="col-sm-8 col-sm-offset-2">
            <%= image_tag "vitamin-b12-chart.png", class: "chart-anchor img-responsive", style: "padding: 20px;" %>
          </div>
        </div>
        <div class="row">
          <h2 class="text-center">Vitamin B12</h2>
        </div>
      <% end %>
    </div>
    <div class="col-xs-4">
      <%= link_to new_chart_path(:type => "folate"), class: "btn-chart-selector" do %>
        <div class="row">
          <div class="col-sm-8 col-sm-offset-2">
            <%= image_tag "folate-chart.png", class: "chart-anchor img-responsive", style: "padding: 20px;" %>
          </div>
        </div>
        <div class="row">
          <h2 class="text-center">Folate</h2>
        </div>
      <% end %>
    </div>
    <div class="col-xs-4">
      <%= link_to new_chart_path(:type => "ferritin"), class: "btn-chart-selector" do %>
        <div class="row">
          <div class="col-sm-8 col-sm-offset-2">
            <%= image_tag "ferritin-chart.png", class: "chart-anchor img-responsive", style: "padding: 20px;" %>
          </div>
        </div>
        <div class="row">
          <h2 class="text-center">Ferritin</h2>
        </div>
      <% end %>
    </div>
    <div class="col-xs-4">
      <%= link_to new_chart_path(:type => "viral_load"), class: "btn-chart-selector" do %>
        <div class="row">
          <div class="col-sm-8 col-sm-offset-2">
            <%= image_tag "viral-load-chart.png", class: "chart-anchor img-responsive", style: "padding: 20px;" %>
          </div>
        </div>
        <div class="row">
          <h2 class="text-center">Viral Load</h2>
        </div>
      <% end %>
    </div>
    <div class="col-xs-4">
      <%= link_to new_chart_path(:type => "hemoglobin_a1c"), class: "btn-chart-selector" do %>
        <div class="row">
          <div class="col-sm-8 col-sm-offset-2">
            <%= image_tag "hemoglobin-a1c-chart.png", class: "chart-anchor img-responsive", style: "padding: 20px;" %>
          </div>
        </div>
        <div class="row">
          <h2 class="text-center">Hemoglobin A1C</h2>
        </div>
      <% end %>
    </div>
    <div class="col-xs-4">
      <%= link_to new_chart_path(:type => "red_cell"), class: "btn-chart-selector" do %>
        <div class="row">
          <div class="col-sm-8 col-sm-offset-2">
            <%= image_tag "red-cell-chart.png", class: "chart-anchor img-responsive", style: "padding: 20px;" %>
          </div>
        </div>
        <div class="row">
          <h2 class="text-center">Red Blood Cell</h2>
        </div>
      <% end %>
    </div>
    <div class="col-xs-4">
      <%= link_to new_chart_path(:type => "white_cell"), class: "btn-chart-selector" do %>
        <div class="row">
          <div class="col-sm-8 col-sm-offset-2">
            <%= image_tag "white-cell-chart.png", class: "chart-anchor img-responsive", style: "padding: 20px;" %>
          </div>
        </div>
        <div class="row">
          <h2 class="text-center">White Blood Cell</h2>
        </div>
      <% end %>
    </div>
    <div class="col-xs-4">
      <%= link_to new_chart_path(:type => "testosterone"), class: "btn-chart-selector" do %>
        <div class="row">
          <div class="col-sm-8 col-sm-offset-2">
            <%= image_tag "testosterone-chart.png", class: "chart-anchor img-responsive", style: "padding: 20px;" %>
          </div>
        </div>
        <div class="row">
          <h2 class="text-center">Testosterone</h2>
        </div>
      <% end %>
    </div>
    <div class="col-xs-4">
      <%= link_to new_chart_path(:type => "insulin"), class: "btn-chart-selector" do %>
        <div class="row">
          <div class="col-sm-8 col-sm-offset-2">
            <%= image_tag "insulin-chart.png", class: "chart-anchor img-responsive", style: "padding: 20px;" %>
          </div>
        </div>
        <div class="row">
          <h2 class="text-center">Insulin</h2>
        </div>
      <% end %>
    </div>
  </div>

