  <div class="row">
    <h1 class="text-center" style="text-transform: uppercase">New <%= @chart.type.underscore.humanize %> Chart</h1>
  </div>
  <div class="row">
    <%= form_for @chart, url: chart_index_path do |f| %>
      <div class="row">
        <%= render "charts/chart_steps/#{@chart.current_step}", :f => f %>
      </div>
      <div class="row">
        <%= f.submit "Continue",  class: "btn btn-primary btn-lg pull-right btn-sumome" unless @chart.last_step?  %>
        <%= f.submit "Send for Approval",  class: "btn btn-success btn-lg pull-right btn-sumome" if @chart.last_step?  %>
        <%= f.button "Back", :name => "back_button",  class: "btn btn-danger btn-lg pull-left"  unless @chart.first_step? %>
      </div>
    <% end %>
  </div>





