<form accept-charset="UTF-8"  action="/interventions" data-remote="true" method="POST" id="intervention-data" class="<%= visible ? 'visible-intervention-form' : '' %>">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <input type="hidden" name="index" value="1">
  <input type="hidden" name="intervention[1][type]" value="<%= intervention_type %>">
  <div class="row">
    <div class="form-group">
      <div class="col-sm-3">
        <label for="intervention[1][title]" class="pull-right"><%= intervention_type.titleize %></label>
      </div>
      <div class="col-sm-5">
        <input type="text" class="form-control js--intervention--title" name="intervention[1][title]" placeholder="(ie: Crestor, Simcor...)">
      </div>
    </div>
  </div>
  <div class="row">
    <%= create_form_input(intervention_type).html_safe %>
  </div>
  <div class="row">
    <div class="form-group">
      <div class="col-sm-3">
        <label for="intervention[start]" class="pull-right">Start date</label>
      </div>
      <div class="col-sm-5">
        <input type="date" class="form-control" name="intervention[1][start]">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="form-group">
      <div class="col-sm-3">
        <label for="intervention[end]" class="pull-right">End date</label>
      </div>
      <div class="col-sm-5">
        <input type="date" class="form-control intervention-end-date" name="intervention[1][end]">
      </div>
      <div class="col-sm-4">
        <div class="checkbox">
          <label><input type="checkbox" value="" id="end-date-current">Current Date</label>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8 col-sm-offset-3">
      <div class="row">
        <div class="checkbox">
          <label><input type="checkbox" value="" id="active">Active</label>
        </div>
      </div>
      <div class="row">
        <button type="submit" class="btn btn-light btn-slim btn-block submit-and-continue" disabled="true">Add Another Intervention</button>
      </div>
      <div class="row">
        <button type="submit" class="submit-and-exit btn btn-light btn-slim btn-block" name="intervention[save-and-exit]" value="true" disabled="true">Save &amp; Exit</button>
      </div>
    </div>
  </div>
</form>
