<!DOCTYPE html>
<html>
<head>
  <title>PM - DEV</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="//load.sumome.com/" data-sumo-site-id="e1f91f8cfe65b83bc297da335edd32bd5cdcda9bb4965a4c595ac47d468a361b" async="async"></script>
</head>
<body>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<!-- Modal -->
<div class="modal fade" id="myOtherModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
              The interventions module will go here, check the <a href="/clean" class="btn btn-info btn-sumome">Cholesterol Chart</a> to see how it works
            </div>
          </div>
        </div>
        <div class="modal-footer">
            <div class="row">
              <button type="button" class="btn btn-danger pull-right" data-dismiss="modal">Close</button>
            </div>
        </div>
      </div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="myOtherOtherModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
              The copy-paste module will go here, check the <a href="/clean" class="btn btn-info btn-sumome">Cholesterol Chart</a> to see how it works
            </div>
          </div>
        </div>
        <div class="modal-footer">
            <div class="row">
              <button type="button" class="btn btn-danger pull-right" data-dismiss="modal">Close</button>
            </div>
        </div>
      </div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <div class="row">
            <div class="col-sm-8">
              <!-- Nav tabs -->
              <ul class="nav intervention-nav-tabs nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#add-medication" aria-controls="add-medication" role="tab" data-toggle="tab">Medication</a></li>
                <li role="presentation"><a href="#add-lifestyle" aria-controls="add-lifestyle" role="tab" data-toggle="tab">Lifestyle</a></li>
                <li role="presentation"><a href="#add-procedure" aria-controls="add-procedure" role="tab" data-toggle="tab">Procedure</a></li>
              </ul>
              <!-- Tab panes -->
              <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="add-medication">
                  <div class="medication-form-wrapper">
                    <form accept-charset="UTF-8"  action="/charts/cholesterol/intervention" data-remote="true" method="post" id="intervention-data" class="visible-intervention-form">
                      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
                      <input type="hidden" name="index" value="1">
                      <input type="hidden" name="intervention[1][type]" value="medication">
                      <div class="row">
                        <div class="col-xs-8 col-xs-offset-1">
                          <div class="col-sm-4">
                            <label for="intervention[1][title]" class="pull-right">Medication</label>
                          </div>
                          <div class="col-sm-8">
                            <div class="form-group">
                              <input type="text" class="form-control js--intervention--title" name="intervention[1][title]" placeholder="(ie: Crestor, Simcor...)">
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-xs-8 col-xs-offset-1">
                          <div class="col-sm-4">
                            <label for="intervention[description]" class="pull-right">Dose</label>
                          </div>
                          <div class="col-sm-8">
                            <div class="form-group">
                              <input type="text" class="form-control" name="intervention[1][description]" placeholder="(ie: 40mg, 20mg...)">
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="form-group col-sm-5">
                          <label for="intervention[start]">Start date</label>
                          <input type="date" class="form-control" name="intervention[1][start]">
                        </div>
                        <div class="form-group col-sm-5 col-sm-offset-1">
                          <div class="row">
                            <label for="intervention[end]">End date</label>
                            <input type="date" class="form-control intervention-end-date" name="intervention[1][end]">
                          </div>
                          <div class="row">
                            <div class="checkbox">
                              <label><input type="checkbox" value="" id="end-date-current">Current</label>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <button type="submit" class="btn submit-and-continue btn-link pull-right" style="margin-right: 25px;"><span class="fa fa-plus text-success"></span> Click to add another intervention</button>
                      </div>
                      <div class="row">
                        <button type="submit" class="submit-and-exit btn btn-primary pull-right">Save &amp; Exit</button>
                        <button type="submit" class="btn btn-danger pull-right" data-dismiss="modal">Close</button>
                      </div>
                    </form>
                    <form accept-charset="UTF-8" data-remote="true" method="post" id="edit-intervention-data" class="hide" data-edit-type="medication">
                      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
                      <input type="hidden" name="edit_intervention[type]" value="medication">
                      <input type="hidden" name="edit_intervention[id]" value="">
                      <div class="row">
                        <div class="col-xs-8 col-xs-offset-1">
                          <div class="col-sm-4">
                            <label for="edit_intervention[title]" class="pull-right">Medication</label>
                          </div>
                          <div class="col-sm-8">
                            <div class="form-group">
                              <input type="text" class="form-control" name="edit_intervention[title]" placeholder="">
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-xs-8 col-xs-offset-1">
                          <div class="col-sm-4">
                            <label for="edit_intervention[description]" class="pull-right">Dose</label>
                          </div>
                          <div class="col-sm-8">
                            <div class="form-group">
                              <input type="text" class="form-control" name="edit_intervention[description]" placeholder="">
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="form-group col-sm-5">
                          <label for="edit_intervention[start]">Start date</label>
                          <input type="date" class="form-control" name="edit_intervention[start]">
                        </div>
                        <div class="form-group col-sm-5 col-sm-offset-1">
                          <div class="row">
                            <label for="edit_intervention[end]">End date</label>
                            <input type="date" class="form-control intervention-end-date" name="edit_intervention[end]">
                          </div>
                          <div class="row">
                            <div class="checkbox">
                              <label><input type="checkbox" value="" id="end-date-current">Current</label>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <button type="submit" class="btn btn-link pull-right update-and-continue" style="margin-right: 25px;"><span class="fa fa-refresh text-success"></span> Update</button>
                      </div>
                      <div class="row">
                        <button type="submit" class="update-and-exit btn btn-primary pull-right">Update &amp; Exit</button>
                        <button type="submit" class="btn btn-danger pull-right" data-dismiss="modal">Close</button>
                      </div>
                    </form>
                  </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="add-lifestyle">
                  <div class="lifestyle-form-wrapper">
                     <form accept-charset="UTF-8"  action="/charts/cholesterol/intervention" data-remote="true" method="post" id="intervention-data">
                      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
                      <input type="hidden" name="index" value="1">
                      <input type="hidden" name="intervention[1][type]" value="lifestyle">
                      <div class="row">
                        <div class="col-xs-8 col-xs-offset-1">
                          <div class="col-sm-4">
                            <label for="intervention[1][title]" class="pull-right">Lifestyle</label>
                          </div>
                          <div class="col-sm-8">
                            <div class="form-group">
                              <input type="text" class="form-control js--intervention--title" name="intervention[1][title]" placeholder="(ie: Diet, exercise...)">
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-xs-8 col-xs-offset-1">
                          <div class="col-sm-4">
                            <label for="intervention[1][description]" class="pull-right">Description</label>
                          </div>
                          <div class="col-sm-8">
                            <div class="form-group">
                              <input type="text" class="form-control" name="intervention[1][description]" placeholder="(ie: gluten-free, low-carb, gym...)">
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="form-group col-sm-5">
                          <label for="intervention[start]">Start date</label>
                          <input type="date" class="form-control" name="intervention[1][start]">
                        </div>
                        <div class="form-group col-sm-5 col-sm-offset-1">
                          <div class="row">
                            <label for="intervention[end]">End date</label>
                            <input type="date" class="form-control intervention-end-date" name="intervention[1][end]">
                          </div>
                          <div class="row">
                            <div class="checkbox">
                              <label><input type="checkbox" value="" id="end-date-current">Current</label>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <button type="submit" class="btn submit-and-continue btn-link pull-right" style="margin-right: 25px;"><span class="fa fa-plus text-success"></span> Click to add another intervention</button>
                      </div>
                      <div class="row">
                        <button type="submit" class="submit-and-exit btn btn-primary pull-right">Save &amp; Exit</button>
                        <button type="submit" class="btn btn-danger pull-right" data-dismiss="modal">Close</button>
                      </div>
                    </form>
                    <form accept-charset="UTF-8" data-remote="true" method="post" id="edit-intervention-data" class="hide" data-edit-type="lifestyle">
                      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
                      <input type="hidden" name="edit_intervention[type]" value="lifestyle">
                      <input type="hidden" name="edit_intervention[id]" value="">
                      <div class="row">
                        <div class="col-xs-8 col-xs-offset-1">
                          <div class="col-sm-4">
                            <label for="edit_intervention[title]" class="pull-right">Lifestyle</label>
                          </div>
                          <div class="col-sm-8">
                            <div class="form-group">
                              <input type="text" class="form-control" name="edit_intervention[title]" placeholder="">
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-xs-8 col-xs-offset-1">
                          <div class="col-sm-4">
                            <label for="edit_intervention[description]" class="pull-right">Description</label>
                          </div>
                          <div class="col-sm-8">
                            <div class="form-group">
                              <input type="text" class="form-control" name="edit_intervention[description]" placeholder="">
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="form-group col-sm-5">
                          <label for="edit_intervention[start]">Start date</label>
                          <input type="date" class="form-control" name="edit_intervention[start]">
                        </div>
                        <div class="form-group col-sm-5 col-sm-offset-1">
                          <div class="row">
                            <label for="edit_intervention[end]">End date</label>
                            <input type="date" class="form-control intervention-end-date" name="edit_intervention[end]">
                          </div>
                          <div class="row">
                            <div class="checkbox">
                              <label><input type="checkbox" value="" id="end-date-current">Current</label>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <button type="submit" class="btn btn-link pull-right update-and-continue" style="margin-right: 25px;"><span class="fa fa-refresh text-success"></span> Update</button>
                      </div>
                      <div class="row">
                        <button type="submit" class="update-and-exit btn btn-primary pull-right">Update &amp; Exit</button>
                        <button type="submit" class="btn btn-danger pull-right" data-dismiss="modal">Close</button>
                      </div>
                    </form>
                  </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="add-procedure">
                  <div class="procedure-form-wrapper">
                    <form accept-charset="UTF-8"  action="/charts/cholesterol/intervention" data-remote="true" method="post" id="intervention-data">
                      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
                      <input type="hidden" name="index" value="1">
                      <input type="hidden" name="intervention[1][type]" value="procedure">
                      <div class="row">
                        <div class="col-xs-8 col-xs-offset-1">
                          <div class="col-sm-4">
                            <label for="intervention[1][title]" class="pull-right">Procedure</label>
                          </div>
                          <div class="col-sm-8">
                            <div class="form-group">
                              <input type="text" class="form-control js--intervention--title" name="intervention[1][title]" placeholder="(ie: surgery...)">
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-xs-8 col-xs-offset-1">
                          <div class="col-sm-4">
                            <label for="intervention[description]" class="pull-right">Description</label>
                          </div>
                          <div class="col-sm-8">
                            <div class="form-group">
                              <input type="text" class="form-control" name="intervention[1][description]" placeholder="(ie: ...)">
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="form-group col-sm-5">
                          <label for="intervention[start]">Start date</label>
                          <input type="date" class="form-control" name="intervention[1][start]">
                        </div>
                        <div class="form-group col-sm-5 col-sm-offset-1">
                          <div class="row">
                            <label for="intervention[end]">End date</label>
                            <input type="date" class="form-control intervention-end-date" name="intervention[1][end]">
                          </div>
                          <div class="row">
                            <div class="checkbox">
                              <label><input type="checkbox" value="" id="end-date-current">Current</label>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <button type="submit" class="btn submit-and-continue btn-link pull-right" style="margin-right: 25px;"><span class="fa fa-plus text-success"></span> Click to add another intervention</button>
                      </div>
                      <div class="row">
                        <button type="submit" class="submit-and-exit btn btn-primary pull-right">Save &amp; Exit</button>
                        <button type="submit" class="btn btn-danger pull-right" data-dismiss="modal">Close</button>
                      </div>
                    </form>
                    <form accept-charset="UTF-8" data-remote="true" method="post" id="edit-intervention-data" class="hide" data-edit-type="procedure">
                      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
                      <input type="hidden" name="edit_intervention[type]" value="procedure">
                      <input type="hidden" name="edit_intervention[id]" value="">
                      <div class="row">
                        <div class="col-xs-8 col-xs-offset-1">
                          <div class="col-sm-4">
                            <label for="edit_intervention[title]" class="pull-right">Procedure</label>
                          </div>
                          <div class="col-sm-8">
                            <div class="form-group">
                              <input type="text" class="form-control" name="edit_intervention[title]" placeholder="">
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-xs-8 col-xs-offset-1">
                          <div class="col-sm-4">
                            <label for="edit_intervention[description]" class="pull-right">Description</label>
                          </div>
                          <div class="col-sm-8">
                            <div class="form-group">
                              <input type="text" class="form-control" name="edit_intervention[description]" placeholder="">
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="form-group col-sm-5">
                          <label for="edit_intervention[start]">Start date</label>
                          <input type="date" class="form-control" name="edit_intervention[start]">
                        </div>
                        <div class="form-group col-sm-5 col-sm-offset-1">
                          <div class="row">
                            <label for="edit_intervention[end]">End date</label>
                            <input type="date" class="form-control intervention-end-date" name="edit_intervention[end]">
                          </div>
                          <div class="row">
                            <div class="checkbox">
                              <label><input type="checkbox" value="" id="end-date-current">Current</label>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <button type="submit" class="btn btn-link pull-right update-and-continue" style="margin-right: 25px;"><span class="fa fa-refresh text-success"></span> Update</button>
                      </div>
                      <div class="row">
                        <button type="submit" class="update-and-exit btn btn-primary pull-right">Update &amp; Exit</button>
                        <button type="submit" class="btn btn-danger pull-right" data-dismiss="modal">Close</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <div id="intervention-wrapper" style="margin-top:50px;">
                <div class="row added-interventions">
                  <span>Medications: </span>
                  <ul class="list-unstyled" id="added-medication-interventions" data-type="medication">
                    <li><i>No medications added yet...</i></li>
                  </ul>
                </div>
                <div class="row added-interventions">
                  <span>Lifestyle: </span>
                  <ul class="list-unstyled" id="added-lifestyle-interventions" data-type="lifestyle">
                    <li><i>No lifestyle interventions added yet...</i></li>
                  </ul>
                </div>
                <div class="row added-interventions">
                  <span>Procedures: </span>
                  <ul class="list-unstyled" id="added-procedure-interventions" data-type="procedure">
                    <li><i>No procedures added yet...</i></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
<div class="row">
    <!-- uncomment code for absolute positioning tweek see top comment in css -->
    <!-- <div class="absolute-wrapper"> </div> -->
    <!-- Menu -->
    <div class="side-menu">

    <nav class="navbar" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <div class="brand-wrapper">
            <!-- Hamburger -->
            <button type="button" class="navbar-toggle">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <!-- Brand -->
            <div class="brand-name-wrapper">
                <a class="navbar-brand" href="#" style="text-align: right;width: 100%; line-height: 30px;">
                  <img alt="Dr. You" src="https://randomuser.me/api/portraits/thumb/lego/3.jpg" style="max-height: 30px;" class="img-responsive img-circle pull-left">
                  Dr. You
                </a>
            </div>

            <!-- Search -->
<!--             <a data-toggle="collapse" href="#search" class="btn btn-default" id="search-trigger">
                <span class="glyphicon glyphicon-search"></span>
            </a> -->

            <!-- Search body -->
            <div id="search" class="panel-collapse">
                <div class="panel-body">
                    <form class="navbar-form" role="search" accept-charset="UTF-8" action="/users" method="get">
                        <div class="form-group">
                          <input type="hidden" name="user[id]" id="user_id_element">
                          <input type="search" name="user[name]" id="user_name" class="search-query form-control ui-autocomplete-input" placeholder="Patient Search..." data-autocomplete="/users/autocomplete_user_name" autocomplete="off" data-id-element="#user_id_element">
                        </div>
                        <button type="submit" class="btn btn-default "><span class="glyphicon glyphicon-search"></span></button>
                    </form>
                </div>
            </div>
        </div>

    </div>

    <!-- Main Menu -->
    <div class="side-menu-container">
        <ul class="nav navbar-nav">

            <!-- Dropdown-->
            <li class="panel panel-default" id="dropdown">
                <a data-toggle="collapse" href="#dropdown-lvl1">
                    <span class="glyphicon glyphicon-user"></span> Patients <span class="caret"></span>
                </a>
                <!-- Dropdown level 1 -->
                <div id="dropdown-lvl1" class="panel-collapse collapse">
                    <div class="panel-body">
                        <ul class="nav navbar-nav">
                          <!-- Dropdown level 2 -->
<!--                           <li class="panel panel-default" id="dropdown">
                              <a data-toggle="collapse" href="#dropdown-lvl2">
                                  <span class="glyphicon glyphicon-off"></span> Patients<span class="caret"></span>
                              </a>
                              <div id="dropdown-lvl2" class="panel-collapse collapse">
                                  <div class="panel-body">
                                      <ul class="nav navbar-nav">
                                          <li><a href="#">Patient X</a></li>
                                          <li><a href="#">Patient Y</a></li>
                                          <li><a href="#">Patient Z</a></li>
                                      </ul>
                                  </div>
                              </div>
                          </li> -->
                          <li><a href="#"><span class="fa fa-circle-thin"></span> Patient Files</a></li>
                          <li><a href="#"><span class="fa fa-circle-thin"></span> Tests</a></li>
                        </ul>
                    </div>
                </div>
            </li>
            <li class="<%= current_page?(root_path) ? 'active' : '' %>"><a href="/"><span class="fa fa-line-chart"></span> Make New Chart</a></li>
            <li id="dropdown">
              <a data-toggle="collapse" href="#dropdown-lvl2"><span class="fa fa-bell"></span> Notifications <span class="badge"><%= @notifications.size %></span> <span class='caret'></span></a>
              <!-- Dropdown level 1 -->
              <div id="dropdown-lvl2" class="panel-collapse collapse">
                  <div class="panel-body">
                      <ul class="nav navbar-nav">
                        <% if @notifications.size == 0 %>
                          <li>There are no new notifications</li>
                        <% else %>
                          <li>
                            <ul class="list-unstyled" style="max-height: 350px; overflow: auto;">
                               <% @notifications.take(5).each do |notification| %>
                                    <a href="<%= notification.action_url %>" class="js-mark-as-read" data-id="<%= notification.id %>">
                                      <li style="font-weight: bold; font-size: 16px; padding-bottom: 10px"><%= notification.subject %></li>
                                      <li style="margin: 25px 0; padding-right: 15px;"><%= truncate(notification.content, length: 140, separator: ' ') %></li>
                                      <li style="font-weight: 400; font-size: 10px; text-align: right; margin: 15px 0; padding-right: 15px;"><%= time_ago_in_words(notification.created_at, include_seconds: true) %></li>
                                    </a>
                               <% end %>
                               <li style="font-weight: bold; font-size: 16px; padding-bottom: 10px; text-align: right;">
                                 <a href="#">View all <i class="glyphicon glyphicon-circle-arrow-right"></i></a>
                               </li>
                            </ul>
                          </li>
                        <% end %>
                      </ul>
                  </div>
              </div>

            </li>


            <li><a href="#"><span class="fa fa-envelope"></span> Messages</a></li>

        </ul>
    </div><!-- /.navbar-collapse -->
</nav>

    </div>

    <!-- Main Content -->
    <div class="container-fluid">
        <div class="side-body">
          <%= yield %>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<script>
$.ajaxSetup({
  headers: {
    'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content')
  }
});
  function createRow(index){
    return '<tr><td><span id="fa-'+(parseInt(index)+1)+'" class="fa fa-times text-danger"></span>'+(parseInt(index)+1)+'</td><td><input type="date" name="entry[date['+(parseInt(index)+1)+']]" required></td><td><input type="text" name="entry[ldl['+(parseInt(index)+1)+']]" required></td><td><input type="text" name="entry[hdl['+(parseInt(index)+1)+']]" required></td><td><input type="text" name="entry[triglycerides['+(parseInt(index)+1)+']]" required></td><td><input type="text" name="entry[cholesterol['+(parseInt(index)+1)+']]" required></td></tr>';
  }
  $('button.random').on('click', function(e){
    e.preventDefault();
    $('div.manual-input table.cholesterol-data input[type=text].session--input').each(function(k,v){
      $(this).val(1 + Math.floor(Math.random() * 150));
    });
    $('div.manual-input table.cholesterol-data input[type=date].session--input').each(function(k,v){
      $(this).val((2014+k).toString() + '-' +'01' + '-' +'01');
    });
  });
  $('div.manual-input button.add-row').on('click', function(e){
    e.preventDefault();
    var currentIndex = $('div.manual-input table.cholesterol-data tr:last td:first').text();
    $('div.manual-input table.cholesterol-data tbody').append(createRow(currentIndex));
  });
  $('div.copy-paste-input button.add-row').on('click', function(e){
    e.preventDefault();
    var currentIndex = $('div.copy-paste-input table.copy-paste-data tr:last td:first').text();
    $('div.copy-paste-input table.copy-paste-data tbody').append(createRow(currentIndex));
  });
  $('button.activate-copy-paste').on('click', function(e){
    e.preventDefault();
    $('.manual-input, .copy-paste-input, .manual-mode, .copy-paste-mode').toggleClass('hide');
    $('#dataInput').val('').focus();
    // $('.add-row').addClass('hide');
  });
  $('button.start-over').on('click', function(e){
    e.preventDefault();
    console.log("trigger start over");
    // console.log($('div.manual-input table.cholesterol-data input').not('.session-entry-values.database--input'));
    $('.start-over-mode, .manual-input, .copy-paste-input, .copy-paste-mode').toggleClass('hide');
    $('div.manual-input table.cholesterol-data').removeClass('hide');
    $('#dataOutput').toggleClass('hide');
    $('#dataOutput table').remove();
    $('#dataInput').css('display', 'block');
    $('.add-row').removeClass('hide');
    $('input.session--input').val('').attr("placeholder", '').find("tr:gt(4)").remove();
    $('.pasted--data--input').remove();
  });
  $('button.clear-copy-paste').on('click', function(e){
    e.preventDefault();
    console.log("triggered clear copy paste");
    $('.pasted--data--input').remove();
     $('#dataInput').css('display', 'block').val('').focus();
    $('.copy-paste-input .table.cholesterol-data').css('display', 'none');
    $('#dataOutput').toggleClass('hide');
    $('#dataOutput table').remove();
    $('.copy-paste-input .table.cholesterol-data').css('display', 'table');
  });


  $('.session-entry-values').each(function(k,v){
    var value = $(this).attr("placeholder");
    $(this).val(value);
  });


$(document).on('click', 'td > .fa', function(e){
    var that = $(this);
    var id = $(this).attr('id').split("-")[1];
    $.ajax({
      type: "GET",
      contentType: "application/json; charset=utf-8",
      url: '/charts/cholesterol/update-session/'+id,
      dataType: 'json',
      success: function (data) {
        that.parent().parent().remove();
      },
      error: function (result) {
         error();
      }
    });

});

$(document).on('change', '#end-date-current', function(e){
  if($(this).prop('checked')){
    $(this).closest('form').find('.intervention-end-date').val(multiDateParser((new Date()).toString()));
  }
  else{
    $('.intervention-end-date').removeAttr('disabled').val('');

  }
});


$('.intervention-nav-tabs a[data-toggle="tab"]').on('show.bs.tab', function (e) {
  var content = $(e.target).attr("href");
  $('form.visible-intervention-form').removeClass('visible-intervention-form');
  $(content +' form').addClass('visible-intervention-form');
  // $('.submit-and-exit, .update-and-exit, .submit-and-continue, .update-and-continue').attr('disabled', 'disabled').addClass('disabled');
})

function canSubmitForIntervention(form){
  var canSubmit = true;
  canSubmit = form.find('.js--intervention--title').val() === '' ? false : canSubmit;
  form.find('.visible-intervention-form input[type=date]').each(function() {
     var element = $(this);
     if (element.val() == "") {
         canSubmit = false;
     }
  });
  return canSubmit;
}

// $(document).on('input keyup change', '.visible-intervention-form input', function(){
//   console.log(canSubmitForIntervention(form));
//   if(canSubmitForIntervention(form)){
//      // $('.submit-and-exit, .update-and-exit, .submit-and-continue, .update-and-continue').prop('disabled', false);
//   }
// });

$(document).on('click', '.submit-and-continue, .update-and-continue', function(e){
  if(!canSubmitForIntervention(form)){
    e.preventDefault();
    alert("Please fill out form");
  }
  else{
    // $('.submit-and-exit, .update-and-exit, .submit-and-continue, .update-and-continue').prop('disabled', true);
    // $('#myModal').modal('hide');
  }
});

$(document).on('click', '.update-and-exit, .submit-and-exit', function(e){
  console.log(e, $(this).parents('form:first'));
  var form = $(this).parents('form:first');
  // console.log(canSubmitForIntervention(form));
  // console.log($('.visible-intervention-form input.js--intervention--title').val(), $('.visible-intervention-form input[type=date]').val());
  if(!canSubmitForIntervention(form)){
    e.preventDefault();
    alert("Please fill out form");
  }
  else{
    // $('.submit-and-exit, .update-and-exit, .submit-and-continue, .update-and-continue').prop('disabled', true);
    $('#myModal').modal('hide');
  }
});

function hideElement(type){
  $('#intervention-data.visible-intervention-form').removeClass('visible-intervention-form').addClass('hide');
  $('#edit-intervention-data[data-edit-type="'+type+'"]').addClass('visible-intervention-form').removeClass('hide');
  $('.'+type+'-form-wrapper').addClass('bounceInRight animated');
}

$(document).on('click', "span.fa.fa-pencil.not-active", function(){
  var type = $(this).closest('ul').attr('data-type');
  $('a[href="#add-'+type+'"]').tab('show');
  var id = $(this).attr('data-id');
  var index = $(this).attr('data-index');
  var title = $(this).siblings('.added-title').text();
  var description = $(this).siblings('.added-description').text();
  var start = $(this).siblings('.added-dates').children('.added-date-start').text();
  var end = $(this).siblings('.added-dates').children('.added-date-end').text();

  $(this).addClass('active').removeClass('not-active');

  $('.'+type+'-form-wrapper').addClass('bounceOutRight animated').removeClass('visible-intervention-form');

  $('.'+type+'-form-wrapper').one('animationend webkitAnimationEnd oanimationend', function(){
    $('.'+type+'-form-wrapper').removeClass('bounceOutRight animated');
    hideElement(type);
  });

  $('#edit-intervention-data[data-edit-type="'+type+'"]').attr('action', "/charts/cholesterol/intervention/"+index+"/edit" );
  $('#edit-intervention-data[data-edit-type="'+type+'"] [name="edit_intervention[id]"]').val(id);
  $('#edit-intervention-data[data-edit-type="'+type+'"] [name="edit_intervention[title]"]').val(title).attr('placeholder', title);
  $('#edit-intervention-data[data-edit-type="'+type+'"] [name="edit_intervention[description]"]').val(description).attr('placeholder', description);
  $('#edit-intervention-data[data-edit-type="'+type+'"] [name="edit_intervention[start]"]').val(start).attr('placeholder', start);
  $('#edit-intervention-data[data-edit-type="'+type+'"] [name="edit_intervention[end]"]').val(end).attr('placeholder', end);
  $('#edit-intervention-data[data-edit-type="'+type+'"] [name="edit_intervention[type]"]').val(type).attr('placeholder', type);

});

$(document).on('click','.js-mark-as-read', function(e){
  e.preventDefault();
  var that = $(this);
  var id = that.attr("data-id");
  var href = that.attr("href");
  $.ajax({
    type: "POST",
    url: "/notifications/mark-as-read/"+id,
    success: function(response){
      window.location.href = href;
    },
    error: function(error){
      console.log(error);
    }
  });
});
</script>
</body>
</html>
