<!DOCTYPE html>
<html>
<head>
  <title>Private Medical</title>

  <script src="//d3js.org/d3.v3.min.js"></script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>
  <!-- <script src="//load.sumome.com/" data-sumo-site-id="e1f91f8cfe65b83bc297da335edd32bd5cdcda9bb4965a4c595ac47d468a361b" async="async"></script> -->
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/css/bootstrap-select.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/js/bootstrap-select.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
</head>
<body>
  <section class="main-container">
    <%= render "shared/header" %>
    <%= flash_messages if show_layout_flash? %>
    <div class="container">
      <%= yield %>
    </div>
    <%= render "shared/modals/interventions_widget" unless @chart.nil? %>
  </section>
  <footer class="main-footer">
    <h1>San Francisco | Sillicon Valley | Beverly Hills</h1>
  </footer>
<script>
  $("#event-has-recovery").on("change", function(){
    console.log($(this), $(this).is(":checked"));
    if($(this).is(":checked")){
      $('.js--event--recovery--period--end').removeClass("hide");
      $("#event-has-after-effect").closest(".row").removeClass("hide");
    }
    else{
      $('.js--event--recovery--period--end, .js--event--after--effect--end').addClass("hide");
      $("#event-has-after-effect").prop('checked', false).closest(".row").addClass("hide");
    }
  })
  $("#event-has-after-effect").on("change", function(){
    console.log($(this), $(this).val());
    if($(this).is(":checked")){
      $('.js--event--after--effect--end').removeClass("hide");
      $('.js--event--recovery--period--end').addClass("hide");
    }
    else{
      $('.js--event--after--effect--end').addClass("hide");
      $('.js--event--recovery--period--end').removeClass("hide");
    }
  })
  $.ajaxSetup({
    headers: {
      'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content')
    }
  });

  function createRow(index){
    var classKeys = JSON.parse($('#converter').attr('data-keys'));
    var classInputs = classKeys.map(function(d, i){
      console.log(d,i);
      return d.toLowerCase().replace(/ /g,"_");
    });
    console.log("classInputs => ", classInputs)
    var row = '<tr><td><span id="fa-'+(parseInt(index)+1)+'" class="fa fa-times text-danger"></span>'+(parseInt(index)+1)+'</td><td><input type="date" name="entry[date['+(parseInt(index)+1)+']]" required></td>';
    classInputs.forEach(function(d,i){
      row += '<td><input type="text" name="entry['+d+'['+(parseInt(index)+1)+']]" required></td>';
    });
    row += '</tr>';
    return row;
  }

  $('.btn-continue').on("click", function(e){
    // e.preventDefault();
    console.log("CLICK")
    $('input[type="text"], input[type="date"]').each(function(){
      // console.log($(this))
      $(this).removeAttr('disabled')
    });
  });

  $('button.random').on('click', function(e){
    e.preventDefault();
    $('div.manual-input table.cholesterol-data input[type=text].session--input').each(function(k,v){
      $(this).val(1 + Math.floor(Math.random() * 150));
    });
    $('div.manual-input table.cholesterol-data input[type=date].session--input').each(function(k,v){
      $(this).val((2014+k).toString() + '-' +'01' + '-' +'01');
    });
  });

  $('div.manual-input button.add-row').on('click', function(e){
    e.preventDefault();
    var currentIndex = $('div.manual-input table.cholesterol-data tr:last td:first').text();
    $('div.manual-input table.cholesterol-data tbody').append(createRow(currentIndex));
  });
  $('div.copy-paste-input button.add-row').on('click', function(e){
    e.preventDefault();
    var currentIndex = $('div.copy-paste-input table tr:last td:first').text();
    console.log("currentIndex => ", currentIndex)
    $('div.copy-paste-input table tbody').append(createRow(currentIndex));
  });
  $('button.activate-copy-paste').on('click', function(e){
    e.preventDefault();
    $('.manual-input, .copy-paste-input, .manual-mode, .copy-paste-mode').toggleClass('hide');
    $('#dataInput').val('').focus();
    // $('.add-row').addClass('hide');
  });
  $('button.start-over').on('click', function(e){
    e.preventDefault();
    console.log("trigger start over");
    // console.log($('div.manual-input table.cholesterol-data input').not('.session-entry-values.database--input'));
    $('.start-over-mode, .manual-input, .copy-paste-input, .copy-paste-mode').toggleClass('hide');
    $('div.manual-input table.cholesterol-data').removeClass('hide');
    $('#dataOutput').toggleClass('hide');
    $('#dataOutput table').remove();
    $('#dataInput').css('display', 'block');
    $('.add-row').removeClass('hide');
    $('input.session--input').val('').attr("placeholder", '').find("tr:gt(4)").remove();
    $('.pasted--data--input').remove();
  });
  $('button.clear-copy-paste').on('click', function(e){
    e.preventDefault();
    console.log("triggered clear copy paste");
    $('.pasted--data--input').remove();
     $('#dataInput').css('display', 'block').val('').focus();
    $('.copy-paste-input .table.cholesterol-data').css('display', 'none');
    $('#dataOutput').toggleClass('hide');
    $('#dataOutput table').remove();
    $('.copy-paste-input .table.cholesterol-data').css('display', 'table');
  });


  $('.session-entry-values').each(function(k,v){
    var value = $(this).attr("placeholder");
    $(this).val(value);
  });


$(document).on('click', 'td > .fa', function(e){
    var that = $(this);
    var id = $(this).attr('id').split("-")[1];
    $.ajax({
      type: "GET",
      contentType: "application/json; charset=utf-8",
      url: '/charts/update-entries-session/'+id,
      dataType: 'json',
      success: function (data) {
        that.parent().parent().remove();
      },
      error: function (result) {
         error();
      }
    });

});

$(document).on('change', '#end-date-current', function(e){
  if($(this).prop('checked')){
    $(this).closest('form').find('.intervention-end-date').val(multiDateParser((new Date()).toString()));
  }
  else{
    $('.intervention-end-date').removeAttr('disabled').val('');
  }
});

  function parse_date(string_date){

    var date = new Date(string_date)

    var year = date.getFullYear()

    var month = (date.getMonth()+1) < 10 ? "0"+(date.getMonth()+1) : (date.getMonth()+1);

    var day = date.getDate() < 10 ? "0"+date.getDate() : date.getDate();

    return year+"-"+month+"-"+day;

  }

$(document).on('change', '#add-event input.js--intervention--start', function(){
  console.log($(this).val(),new Date($(this).val()));
  if($(this).val() != ''){
    var date = new Date($(this).val());
    console.log("DATE => ", date)
    $("#add-event input.js--intervention--end").val(parse_date(new Date(date.getFullYear(), date.getMonth(), date.getDate()+1).toString()));
    console.log($("#add-event input.js--intervention--end").val());
  }
});

$('.intervention-nav-tabs a[data-toggle="tab"]').on('show.bs.tab', function (e) {
  var content = $(e.target).attr("href");
  $('form.visible-intervention-form').removeClass('visible-intervention-form');
  console.log(content, $(content).closest("form"));
  $(content +' form').addClass('visible-intervention-form');
  $('.submit-and-exit, .update-and-exit, .submit-and-continue, .update-and-continue').prop('disabled', true);
  $('input[type=text],input[type=date]').each(function(){
    $(this).val('');
  });
})

function canSubmitForIntervention(form){
  var canSubmit = true;
  // console.log(form.find('.js--intervention--title').val())
  canSubmit = form.find('.js--intervention--title').val() === '' ? false : canSubmit;
  form.find('input[type=date]').each(function() {
    // console.log("element value => ", $(this).val())
     var element = $(this);
     if (element.val() == "") {
         canSubmit = false;
     }
  });
  // console.log("canSubmit => ", canSubmit);
  return canSubmit;
}

$(document).on('input keyup change', '.visible-intervention-form input, .visible-intervention-form select', function(){
  var form = $(".visible-intervention-form:not(.hide)");
  // console.log(form)
  // console.log(canSubmitForIntervention(form), form);
  if(canSubmitForIntervention(form)){
     $('.submit-and-exit, .update-and-exit, .submit-and-continue, .update-and-continue').prop('disabled', false);
  }
});

// $(document).on('click', '.submit-and-continue, .update-and-continue', function(e){
//   if(!canSubmitForIntervention(form)){
//     e.preventDefault();
//     alert("Please fill out form");
//   }
//   else{
//     // $('.submit-and-exit, .update-and-exit, .submit-and-continue, .update-and-continue').prop('disabled', true);
//     // $('#myModal').modal('hide');
//   }
// });

// $(document).on('click', '.update-and-exit, .submit-and-exit', function(e){
//   console.log(e, $(this).parents('form:first'));
//   var form = $(this).parents('form:first');
//   // console.log(canSubmitForIntervention(form));
//   // console.log($('.visible-intervention-form input.js--intervention--title').val(), $('.visible-intervention-form input[type=date]').val());
//   if(!canSubmitForIntervention(form)){
//     e.preventDefault();
//     alert("Please fill out form");
//   }
//   else{
//     // $('.submit-and-exit, .update-and-exit, .submit-and-continue, .update-and-continue').prop('disabled', true);
//     $('#interventions-widget').modal('hide');
//   }
// });

function hideElement(type){
  $('#intervention-data.visible-intervention-form').removeClass('visible-intervention-form').addClass('hide');
  $('#edit-intervention-data[data-edit-type="'+type+'"]').addClass('visible-intervention-form').removeClass('hide');
  $('.'+type+'-form-wrapper').addClass('bounceInRight animated');
}

$(document).on('click', "span.fa.fa-pencil.not-active", function(){
  var type = $(this).closest('ul').attr('data-type');
  $('a[href="#add-'+type+'"]').tab('show');
  var id = $(this).attr('data-id');
  var index = $(this).attr('data-index');
  var title = $(this).siblings('.added-title').text();
  var description = $(this).siblings('.added-description').text();
  var start = new Date($(this).siblings('.added-dates').children('.added-date-start').text());
  var end = new Date($(this).siblings('.added-dates').children('.added-date-end').text());

  $(this).addClass('active').removeClass('not-active');

  $('.'+type+'-form-wrapper').addClass('bounceOutRight animated').removeClass('visible-intervention-form');

  $('.'+type+'-form-wrapper').one('animationend webkitAnimationEnd oanimationend', function(){
    $('.'+type+'-form-wrapper').removeClass('bounceOutRight animated');
    hideElement(type);
  });

  $('#edit-intervention-data[data-edit-type="'+type+'"]').attr('action', "/interventions/"+id);
  $('#edit-intervention-data[data-edit-type="'+type+'"] [name="edit_intervention[id]"]').val(id);
  $('#edit-intervention-data[data-edit-type="'+type+'"] [name="edit_intervention[index]"]').val(index);
  if(type==="event"){
    // console.log($('#edit-intervention-data[data-edit-type="'+type+'"] option[value="'+title.toLowerCase()+'"]'))
    $('#edit-intervention-data[data-edit-type="'+type+'"] option[value="'+title.toLowerCase()+'"]').prop('selected', true);
  }
  else{
    $('#edit-intervention-data[data-edit-type="'+type+'"] [name="edit_intervention[title]"]').val(title).attr('placeholder', title);
  }

  function parse_date(string_date){

    // console.log(string_date)

    var date = new Date(string_date)

    var year = date.getFullYear()

    var month = (date.getMonth()+1) < 10 ? "0"+(date.getMonth()+1) : (date.getMonth()+1);

    // var m = month[date.getMonth()];

    var day = date.getDate() < 10 ? "0"+date.getDate() : date.getDate();

    return year+ "-"+month+"-"+day;

  }

  $('#edit-intervention-data[data-edit-type="'+type+'"] [name="edit_intervention[description]"]').val(description).attr('placeholder', description);
  $('#edit-intervention-data[data-edit-type="'+type+'"] [name="edit_intervention[start]"]').val(parse_date(start)).attr('placeholder', parse_date(start));
  $('#edit-intervention-data[data-edit-type="'+type+'"] [name="edit_intervention[end]"]').val(parse_date(end)).attr('placeholder', parse_date(end));
  $('#edit-intervention-data[data-edit-type="'+type+'"] [name="edit_intervention[type]"]').val(type).attr('placeholder', type);

});

$(document).on('click','.js-mark-as-read', function(e){
  e.preventDefault();
  var that = $(this);
  var id = that.attr("data-id");
  var href = that.attr("href");
  $.ajax({
    type: "POST",
    url: "/notifications/mark-as-read/"+id,
    success: function(response){
      window.location.href = href;
    },
    error: function(error){
      console.log(error);
    }
  });
});

$(document).on('click','.js-mark-all-as-read', function(e){
  e.preventDefault();
  var that = $(this);
  var href = that.attr("href");
  $.ajax({
    type: "POST",
    url: "/notifications/mark-all-as-read/",
    success: function(response){
      // window.location.href = href;
      alert("All notifications have been marked as read!");
      $('.notifications span.badge').each(function(){ $(this).text(0) });
    },
    error: function(error){
      console.log(error);
    }
  });
});
</script>
</body>
</html>
