<!DOCTYPE html>
<html>
<head>
  <title>PM - DEV</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script>

  function createRow(index){
    // console.log(row.replace('index', parseInt(index)+1))
    return '<tr><td>'+(parseInt(index)+1)+'</td><td><input type="date" name="entry[date['+(parseInt(index)+1)+']]"></td><td><input type="text" name="entry[ldl['+(parseInt(index)+1)+']]"></td><td><input type="text" name="entry[hdl['+(parseInt(index)+1)+']]"></td><td><input type="text" name="entry[triglycerides['+(parseInt(index)+1)+']]"></td><td><input type="text" name="entry[cholesterol['+(parseInt(index)+1)+']]"></td></tr>';
  }
  $('button.random').on('click', function(e){
    e.preventDefault();
    $('input[type=text]').each(function(k,v){
      $(this).val(1 + Math.floor(Math.random() * 150));
    });
    $('input[type=date]').each(function(k,v){
      $(this).val((2010+k).toString() + '-' +'01' + '-' +'01');
    });
  });
  $('button.add-row').on('click', function(e){
    e.preventDefault();
    var currentIndex = $('div.manual-input table.cholesterol-data tr:last td:first').text();;
    $('table.cholesterol-data tbody').append(createRow(currentIndex));
  });
  $('button.activate-copy-paste').on('click', function(e){
    e.preventDefault();
    $('.manual-input, .copy-paste-input, .manual-mode, .copy-paste-mode').toggleClass('hide');
    $('#dataInput').focus();
  });
</script>
</body>
</html>
